<html>
    <head>
      <title>Archivez</title>
      <link rel="stylesheet" href="static/normalize.css">
      <link rel="stylesheet" href="static/skeleton.css">
      <link rel="stylesheet" href="static/index.css">
      <link rel="icon" type="image/png" href="assets/MS-DOS_icon.png">
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
      <img src="assets/Logo.png" class=center>
      <div class="container" id="app">
        <div class="row">
          <div class="eleven columns">
            &nbsp;
          </div>
        </div>
        <div class="row">
          <div class="one column">
            <label class="switch">
              <input type="checkbox" v-on:click="switchView" hidden>
              <span class="slider round"></span>
              <div class="ranking">Ranking</div>
            </label>
          </div>
        </div>
        <div>
          <br>
          <br>
          <div class="row">
            <div class="three columns">
              <center><img src="assets/mail.png"></center>
            </div>
            <div class="three columns">
              <center><img src="assets/tweet.png"></center>
            </div>
            <div class="three columns">
              <center><img src="assets/soundcloud.png"></center>
            </div>
            <div class="three columns">
              <center><img src="assets/itunes.png"></center>
            </div>
          </div>
          <div class="row">
            <div class="three columns">
              <center><a href="mailto:archivezpodcast@gmail.com">Mail ons</a></center>
            </div>
            <div class="three columns">
              <center><a href="https://twitter.com/davidalpha">Tweet</a></center>
            </div>
            <div class="three columns">
              <center><a href="https://soundcloud.com/user-328346920-782030863">Soundcloud</a></center>
            </div>
            <div class="three columns">
              <center><a href="https://itunes.apple.com/nl/podcast/archivez/id1436148435?mt=2">iTunes</a></center>
            </div>
          </div>
        </div>
        <br><br><br>
        <episode-list
          v-if="toggleEpisode"
          v-for="game in games"
          v-bind:game="game">
        </episode-list>
        <ranking-list
          v-if="!toggleEpisode"
          v-for="game in orderedGames"
          v-bind:game="game"
          v-bind:key="game.ranking">
        </ranking-list>
      </div>
      <script src="index.js"></script>
    </body>
</html>
