html, body {
    padding: 10px;
    background-color: 57A8A8;
    font-family: win95;
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

@font-face {
  font-family: bitmap;
  src: url(Fipps-Regular.otf);
}

@font-face {
  font-family: win95;
  src: url(Perfect.ttf);
}

.graybg {
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,235,250,0.65) 0%, rgba(255,235,250,0) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,235,250,0.65) 0%,rgba(255,235,250,0) 100%);
	background: radial-gradient(ellipse at center, rgba(255,235,250,0.65) 0%,rgba(255,235,250,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffebfa', endColorstr='#00ffebfa',GradientType=1 );
}

a {
  font-family: win95;
  text-decoration: none;
  color: black;
}

.ranking {
  background-color: #FAD9FC;
}
.rankinglabel {
  font-family: win95;
  background-color: lightgrey;
  color: black;
  text-align: center;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  border-left: 2px solid white;
  border-top: 2px solid white;
}

.gamelink a:link {
  font-family: win95;
  text-decoration: none;
  color: black;
}

.gamelink a:hover {
  font-family: win95;
  color: #e177fe;
}

.blurp {
  font-family: win95;
  text-decoration: none;
  color: black;
}

.links {
  font-family: win95;
  text-decoration: none;
  color: black;
}

.eplabel {
  padding: 5px;
  font-family: win95;
  background-color: lightgrey;
  color: black;
  border-right: 5px ridge lightgrey;
  border-bottom: 5px ridge lightgrey;
  border-left: 2px solid white;
  border-top: 2px solid white;

}

.e_episode {
  padding: 10px;
  background-color: white;
}

.u_episode {
  padding: 10px;
  background-color: #FAD9FC;
}

a:hover {
  color: #e177fe; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.container {
  background-color: white;
  border: 4px outset grey;
}

input:checked + .slider {
  background-color: #e177fe;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
